@model Bug_tracker.Models.UserRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <p>
                        User: @Model.Name
                    </p>

                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(p => p.Id)

                        @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)

                        <input type="submit" value="Submit!" />
                    }
                    </div>
                </div>
        </section>
    </section>
</div>
<!-- /.content-wrapper -->