@model Bug_tracker.Models.Classes.ProjectAssignViewModel

@{
    ViewBag.Title = "AssignUsers";
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
                <p>
                    <!-- Main content -->
                    <section class="content">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(p => p.Id)

                            @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)

                            <input type="submit" value="Submit!" />
                        }
                    </section>
                </p>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>


<!-- /.content-wrapper -->